*.*~
*.Cache
*.DotSettings.user
*.VisualState.xml
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.gpState
*.ilk
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.ncrunch*
*.ncrunchproject
*.ncrunchsolution
*.nupkg
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.psess
*.publishsettings
*.rdl.data
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userprefs
*.vsp
*.vspscc
*.vspx
*.vssscc
*.zip
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.DS_Store
.JustCode
.builds
.sass-cache/
Thumbs.db
.vs/
